{% extends "base.html" %}

{% block title %}Signup{% end %}

{% block body %}
    <div class="col-md-4 col-md-offset-2">
        <div class="well download-container">
            <h3>Firefox Extension</h3>
            <a href="{{ static_url('uicsecuritystudy_0.24.4_release.xpi') }}">
                <img src="{{ static_url('images/firefox-logo.png') }}" class="img-responsive" alt="Firefox Browser Logo">
            </a>
            <p><a href="{{ static_url('uicsecuritystudy_0.24.4_release.xpi') }}">Version 0.24.4</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well download-container">
            <h3>Chrome Extension</h3>
            <a href="https://chrome.google.com/webstore/detail/uic-security-study/jilfmdjbjllheanefgbnikenbmihicpa">
                <img src="{{ static_url('images/chrome-logo.png') }}" class="img-responsive" alt="Chrome Browser Logo">
            </a>
            <p><a href="https://chrome.google.com/webstore/detail/uic-security-study/jilfmdjbjllheanefgbnikenbmihicpa">Version 0.24.4</a></p>
        </div>
    </div>
{% end %}
